#invoice_form {
    background: white;
    
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    border: 20px;
    margin-top: 10px;

    text-align: center;

    width: 65%;
    height: auto;
}

.invoice_element {
    margin: 10px;
    font-size: 14px;
}

body {
    margin: auto;

    background: #CB356B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input {
    size: 30px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#logo_display {
    margin: 10px;
    text-align: center;
}
